<mat-card *ngIf="!isEditMode">
    <mat-card-header>
        <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
        <mat-card-title>{{comment.author.userName}} </mat-card-title>
        <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
        <div *ngIf="isOwned">
            <button mat-icon-button (click)="editComment()">
                <mat-icon aria-label="Edit" matBadgeSize="medium">
                    edit
                </mat-icon>
            </button>
            <button mat-icon-button (click)="deleteComment()">
                <mat-icon aria-label="Delete" matBadgeSize="medium">
                    delete
                </mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content>
        <p>{{comment.body}}</p>
    </mat-card-content>
    <mat-card-actions class="actions-buttons" align="end">
        <button mat-icon-button color="primary" (click)="likeComment()">
            <mat-icon matBadge="{{likes.length}}" matBadgeColor="accent" matBadgeSize="medium"
                [matBadgeHidden]="likes.length === 0" aria-label="Like">favorite</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="dislikeComment()">
            <mat-icon matBadge="{{disLikes.length}}" matBadgeColor="accent" matBadgeSize="medium"
                [matBadgeHidden]="disLikes.length === 0" aria-label="Dislike">thumb_down</mat-icon>
        </button>
        <button mat-icon-button color="accent">
            <mat-icon aria-label="Share">share</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>

<mat-card *ngIf="isEditMode">
    <div class="edit-comment">
        <mat-form-field>
            <textarea [(ngModel)]="comment.body" matInput></textarea>
        </mat-form-field>
        <button mat-icon-button color="danger" matTooltip="Cancel editing" (click)="cancel()">
            <mat-icon aria-label="Cancel">cancel</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Edit comment" (click)="updateComment()">
            <mat-icon aria-label="Edit">send</mat-icon>
        </button>
    </div>
</mat-card>