<mat-card *ngIf="post && !isEditMode" [ngClass]="{'post-with-comments': showComments}">
    <mat-card-header>
        <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
        <mat-card-title>{{post.author.userName}}</mat-card-title>
        <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>

        <div *ngIf="isOwned">
            <button mat-icon-button (click)="editPost()">
        <mat-icon aria-label="Edit" matBadgeSize="medium">
          edit
        </mat-icon>
      </button>
            <button mat-icon-button (click)="deletePost()">
        <mat-icon aria-label="Delete" matBadgeSize="medium">
          delete
        </mat-icon>
      </button>
        </div>
    </mat-card-header>
    <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
    <mat-card-content>
        <p>{{post.body}}</p>
    </mat-card-content>
    <mat-card-actions class="actions-buttons" align="end">
        <button mat-icon-button color="primary" (click)="likePost()">
      <mat-icon matBadge="{{likes.length}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="likes.length === 0" aria-label="Like">favorite</mat-icon>
    </button>
        <button mat-icon-button color="primary" (click)="dislikePost()">
      <mat-icon matBadge="{{disLikes.length}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="disLikes.length === 0" aria-label="Dislike">thumb_down</mat-icon>
    </button>
        <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
        <button mat-icon-button color="basic" (click)=" toggleComments()">
      <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
    </mat-card-actions>
    <div *ngIf="showComments">
        <mat-divider></mat-divider>
        <div class="new-comment">
            <mat-form-field>
                <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
            </mat-form-field>
            <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
        </div>
        <div *ngIf="post.comments.length > 0" class="comments-count">
            Just {{post.comments.length}} in all
        </div>
        <app-comment *ngFor="let _comment of post.comments" [currentUser]="currentUser" [comment]="_comment" [post]="post" (onDelete)="onDeleteComment($event)">
        </app-comment>
    </div>
</mat-card>

<div *ngIf="isEditMode" class="post-edit-container">
    <mat-card-content>
        <mat-form-field>
            <textarea [(ngModel)]="post.body" matInput>{{post.body}}</textarea>
        </mat-form-field>
        <div class="image-container">
            <mat-icon class="remove-image-btn" aria-label="Send" (click)="removeImage()">close</mat-icon>
            <img mat-card-image *ngIf="post.previewImage && !imageUrl" class="post-image" src="{{post.previewImage}}" alt="Photo">
            <img mat-card-image *ngIf="imageUrl" class="post-image" mat-card-image src="{{imageUrl}}" alt="Photo">
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <input hidden #file accept="image/*" type="file" (change)="loadImage($event.target)">
        <button mat-icon-button color="accent" (click)="file.click()">
      <mat-icon aria-label="Choose an image">image</mat-icon>
    </button>
        <button mat-icon-button color="danger" matTooltip="Cancel editing" (click)="cancel()">
      <mat-icon aria-label="Cancel">cancel</mat-icon>
    </button>
        <button mat-icon-button color="primary" matTooltip="Edit post" (click)="updatePost()">
      <mat-icon aria-label="Send">send</mat-icon>
    </button>
    </mat-card-actions>
</div>